*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

/* #EB4962 */ /*  red*/
/* #b30038  dark*/
/* #ff7d8f  light*/
/* #E1E2E1 gray */
/* #F5F5F6 light gray */

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #333;
  background-color: #fff;
}

/*  NAV */
/*11 always on the top */
#navbar {
  position: fixed;
  top: 0;
  background-color: #303841;
  width: 100%;
  display: flex;
}

.container-nav {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.logo {
  height: 50px;
  width: 50px;
}

#logo-img {
  width: 100%;
}

.list {
  list-style: none;
  display: flex;
}

.nav-link:link, 
.nav-link:visited {
  text-decoration: none;
  margin-left: 20px;
  font-size: 2.5rem;
  color: #fff;
  padding: 20px;
}

.nav-link:active, 
.nav-link:hover {
  background-color: #b30038;
}

/* WELCOME-SECTION */
/* 10 */
#welcome-section {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #b30038;
}

#welcome-section h1 {
  font-size: 6rem;
  font-weight: 900;
  color: #fff;
}

#welcome-section p {
  font-size: 3.5rem;
  font-weight: 400;
  color: #fff;
}

/* PROJECTS-SECTION */
#projects {
  text-align: center;
  padding: 10rem 2rem;
  background-color: #303841; 
  padding: 10rem 2rem;
}

#projects h2 {
  font-size: 4rem;
  text-decoration: underline;
  margin-bottom: 50px;
  color: #fff;
}

.grid {
  max-width: 1140px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.project-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.project-title {
  padding: 2rem 0.5rem;
  font-size: 2rem;
  color: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.project-tile {
  text-decoration: none;
  background-color: #EB4962;
  border-radius: 4px;
  transition: background-color 0.3s ease-out;
}

.project-tile:hover {
  background-color: #b30038;
  border-radius: 4px;
}

.btn-show-all:link,
.btn-show-all:visited {
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
  padding: 10px 20px;
  background-color: #EB4962;
  transition: background-color 0.3s ease-out;
  border-radius: 4px;
}

.btn-show-all:active,
.btn-show-all:hover {
  background-color: #b30038;
}

/* CONTACT SECTION */

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
}

#contact h1 {
  font-size: 6rem;
  font-weight: 900;
  color: #303841;
}

#contact p {
  font-size: 2rem;
  font-style: italic;
  color: #303841;
}

.contact-links {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  
  width: 100%;
  max-width: 980px;
  flex-wrap: wrap;
}

ion-icon {
  font-size: 4rem;
  color: #303841;
}
#profile-link:link,
#profile-link:visited {
  text-decoration: none;
  color: #303841;
  font-size: 2rem;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: transform 0.3s ease-out;
}

#profile-link:active,
#profile-link:hover {
  transform: translateY(9px);
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  font-size: 2rem;
  background-color: #303841;
  color: #fff;
  border-top: 4px solid #b30038;
}

#mini-logo {
  width: 2rem;
}

footer a {
  text-decoration: none;
  color: #fff;
}

/* RESPONSIVE */
/*Media Query  9 */
@media screen and (max-width: 781px) {
  
   
  }
